
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-pM7mD3FJzzcKz/N8l8mOSb4pClOQ2kfjsJ6DbD6u3lbbfZbGr6lFhWmGeKGlxx0F5Bv7hJ3P7L4vZr+TWtD2w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-pM7mD3FJzzcKz/N8l8mOSb4pClOQ2kfjsJ6DbD6u3lbbfZbGr6lFhWmGeKGlxx0F5Bv7hJ3P7L4vZr+TWtD2w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    </head>
    <body>
        <footer style="background-color: #111; color: #ccc; padding: 50px 20px 20px;">
            <div class="container">
                <!-- Top Info -->
                <div class="footer-top">
                    <div class="info-box">
                        <h4>FREE SHIPPING & RETURN</h4>
                        <p>Free Shipping over $300</p>
                    </div>
                    <div class="info-box">
                        <h4>MONEY BACK GUARANTEE</h4>
                        <p>30 Days Money Back Guarantee</p>
                    </div>
                    <div class="info-box">
                        <h4>020-800-456-747</h4>
                        <p>24/7 Available Support</p>
                    </div>
                </div>
        
                <!-- Middle Links -->
                <div class="footer-middle">
                    <div class="footer-about">
                        <img src="/static/image/logo.jpeg" alt="Logo" style="width: 150px;">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                        <div class="social-icons">
                            <a href="#"><i class="fa fa-facebook-f"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-linkedin-in"></i></a>
                        </div>
                    </div>
        
                    <div class="footer-links">
                        <h4>SHOP</h4>
                        <ul>
                            <li><a href="#">For Women</a></li>
                            <li><a href="#">For Men</a></li>
                            <li><a href="#">Stores</a></li>
                            <li><a href="#">Our Blog</a></li>
                            <li><a href="#">Shop</a></li>
                        </ul>
                    </div>
        
                    <div class="footer-links">
                        <h4>COMPANY</h4>
                        <ul>
                            <li><a href="#">Login</a></li>
                            <li><a href="#">Register</a></li>
                            <li><a href="#">Wishlist</a></li>
                            <li><a href="#">Our Products</a></li>
                            <li><a href="#">Checkouts</a></li>
                        </ul>
                    </div>
        
                    <div class="footer-subscribe">
                        <h4>DAILY OFFERS & DISCOUNTS</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At itaque temporibus.</p>
                        <form>
                            <input type="email" placeholder="Your Email Address">
                            <button type="submit"><i class="fa fa-paper-plane"></i></button>
                        </form>
                    </div>
                </div>
        
                <!-- Bottom -->
                <div class="footer-bottom">
                    <p>© 2018 Ondrej Svestka All rights reserved.</p>
                    <div class="payment-icons">
                        <img src="/static/image/pic.png" alt="Visa">
                        <img src="/static/image/pic.png" alt="Mastercard">
                        <img src="/static/image/pic.png" alt="Paypal">
                        <img src="/static/image/pic.png" alt="American Express">
                    </div>
                </div>
            </div>
        </footer>
        
        <script src="" async defer></script>
    </body>
</html>

