{% extends "base.html" %}
{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>testimonials</title>
  <link rel="stylesheet" href="/static/css/products.css">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  
</head>
<body style="padding-top:80px" class="bg-blue-50">

    <div class="text-center py-8">
        <div class="inline-block  text-blue-800 px-10  mb-0" style="font-size:50px">
            Products
        </div>
      </div>

  <div class="text-center ">
    <div class="inline-block bg-blue-200 text-blue-800 px-2 py-1 rounded-full mb-4">
    home {{ request.path }}
    </div>
  </div>

  

  <div class="product-section">
    <div class="product-container">
        <!-- Product 1 -->
        <div class="product-card">
            <div class="sale-tag">SALE</div>
            <img src="https://media.croma.com/image/upload/v1722273761/Croma%20Assets/Small%20Appliances/Water%20Purifier/Images/212088_9_ma5sfm.png" alt="Three bottles of mineral water">
            <h3>Three bottles of mineral water</h3>
            <div class="rating">
                ★★★★★
            </div>
            <div class="price">
                <span class="original-price">$24.33</span>
                $13.25
            </div>
            <button class="custom-button " style="padding:10px;width:90%;margin:20px;">
               
                Buy
            </button>
        </div>

        <!-- Product 2 -->
        <div class="product-card">
            <img src="https://livpure.com/cdn/shop/products/livpure-uv-glitz-water-purifier-uv-uf-suitable-for-municipal-water-tds-up-to-200ppm-34509770784921.jpg?v=1737446830&width=1445">
            <h3>One big bottle of mineral water</h3>
            <div class="rating">
                ★★★★★
            </div>
            <div class="price">
                <span class="original-price">$46.99</span>
                $19.97
            </div>
            <button class="custom-button " style="padding:10px;width:90%;margin:20px;">
                Buy
            </button>
        </div>

        <!-- Product 3 -->
        <div class="product-card">
            <img src="https://5.imimg.com/data5/SELLER/Default/2023/7/323268666/II/HS/MA/1814363/livpure-ro-water-purifier.jpg">
            <h3>Small bottles of mineral water</h3>
            <div class="rating">
                ★★★★★
            </div>
            <div class="price">
                $17.93
            </div>
            <button class="custom-button " style="padding:10px;width:90%;margin:20px;">
                Buy
            </button>
        </div>

         <!-- Product 1 -->
         <div class="product-card">
            <div class="sale-tag">SALE</div>
            <img src="https://media.croma.com/image/upload/v1722273761/Croma%20Assets/Small%20Appliances/Water%20Purifier/Images/212088_9_ma5sfm.png" alt="Three bottles of mineral water">
            <h3>Three bottles of mineral water</h3>
            <div class="rating">
                ★★★★★
            </div>
            <div class="price">
                <span class="original-price">$24.33</span>
                $13.25
            </div>
            <button class="custom-button " style="padding:10px;width:90%;margin:20px;">
               
                Buy
            </button>
        </div>

         <!-- Product 1 -->
         <div class="product-card">
            <div class="sale-tag">SALE</div>
            <img src="https://media.croma.com/image/upload/v1722273761/Croma%20Assets/Small%20Appliances/Water%20Purifier/Images/212088_9_ma5sfm.png" alt="Three bottles of mineral water">
            <h3>Three bottles of mineral water</h3>
            <div class="rating">
                ★★★★★
            </div>
            <div class="price">
                <span class="original-price">$24.33</span>
                $13.25
            </div>
            <button class="custom-button " style="padding:10px;width:90%;margin:20px;">
               
                Buy
            </button>
        </div>

         <!-- Product 1 -->
         <div class="product-card">
            <div class="sale-tag">SALE</div>
            <img src="https://media.croma.com/image/upload/v1722273761/Croma%20Assets/Small%20Appliances/Water%20Purifier/Images/212088_9_ma5sfm.png" alt="Three bottles of mineral water">
            <h3>Three bottles of mineral water</h3>
            <div class="rating">
                ★★★★★
            </div>
            <div class="price">
                <span class="original-price">$24.33</span>
                $13.25
            </div>
            <button class="custom-button " style="padding:10px;width:90%;margin:20px;">
               
                Buy
            </button>
        </div>
    </div>
</div>



</body>
</html>
{% endblock %}